*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration-line: none;
}
body{
    background-image: url('../img/background.jpg');
    background-size: cover;"

}

#top{
    width: 100%;
    height: 90px;
    background-color: rgba(57,64,173,0.9);
}
#top>span{
    color: white;
    font-size: 35px;
    font-family: 黑体;
    height: 90px;
    line-height: 90px;
    margin-left: 20px;
    float: left;
}
ul li{
    list-style-type: none;
}
ul{
    float: right;
    margin-right: 100px;
    height: 90px;
}

li{
    height: 90px;float: left;
    margin-left: 60px;
    padding: 0px 10px 0px 10px;
    font-size: 27px;
    line-height: 90px;
    cursor: pointer;
}
li:hover{
    border-bottom: 3px solid white;
}
#top3{
    color: black;
    background-color: white;
    border-left: 2px solid darkblue;
    border-right: 2px solid darkblue;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid white;
}


input:focus{
    outline: none;
}

input[type="text"],input[type="password"]{
    border: none;
    border-bottom: #DFDDDE 1px solid;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
}
.main{
    width: 600px;
    height: 600px;
    float: right;
    background-color: rgba(39,57,78,0.4);
}
.login{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
}
td{
    width: 300px;
}
input::-webkit-input-placeholder{
    color: #CDCDCD;
}
td>input[type="text"],td>input[type="password"]{
    width: 100%;
}
#r1c1>span{
    width: 100%;
    font-size: 26px;
    color: #F4958F;
    float: left;
}
#r1c2>a{
    width: 100%;
    color: #B8B6B7;
    float: right;
    font-size: 14px;
}
#r2c2>img{
    background-image: url("../img/none.jpg");
    border: 1px lightslategray solid;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 30px;
    cursor: pointer;
}
#r3c2>input[type="radio"]{
    margin-left: 30px;
}
#r6c1>input{
    display: block;
    width: 200px;
    height: 40px;
    margin: auto;
    background-color: #ff7f6c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
}
#r6c1>input:hover{
    background-color: #e47264;

}